doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        link(rel='shortcut icon', href=`${ROUTE_PREFIX}/static/favicon.ico`)

        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='theme-color', content='#000000')

        link(rel='manifest', href=`${ROUTE_PREFIX}/static/manifest.json`)

        // Global variables
        // #{GLOBAL_VARS}

        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(
            rel='stylesheet',
            href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap'
        )

        title Tutor Management System Derpy derp
    body
        noscript You need to enable JavaScript to run this app.

        #root
