doctype html
html(lang=en)
  head
    meta(charset='utf-8')
    //- TODO: Re-add route prefix ${ROUTE_PREFIX}
    link(rel='shortcut icon', href=`/static/favicon.ico`)

    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#000000')

    //- TODO: Re-add route prefix ${ROUTE_PREFIX}
    link(rel='manifest', href=`/static/manifest.json`)

    // Global variables
    // #{GLOBAL_VARS}

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    title Tutor Management System
  body
    noscript You need to enable JavaScript to run this app.

    #root

    script(type='module', src='/_dist_/index.js')
